@model UserModel
@{
    ViewData["Title"] = "Register Page";
}

<h1><label>Register Page</label></h1>

@using (Html.BeginForm("AddUser", "Users"))
{
    <form>
        <div class="form-group">
            <label for="username">User name</label>
            @Html.TextBoxFor(m => m.Username, new { Class = "form-control" })
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            @Html.TextBoxFor(m => m.Password, new { Type = "password", Class = "form-control datepicker" })
        </div>
        <div class="form-group">
            <label for="isAvailable">Is Admin</label>
            @Html.CheckBoxFor(m => m.IsAdmin, new { Class = "ml-5" })
        </div>
        <input type="submit" class="btn btn-primary btn-lg mt-2" />
    </form>
}